.timer-display {
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

.time {
    font-size: 3rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timer-controls {
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.timer-controls a {
    margin-right: 20px;
}

.timer-controls a:hover {
    color: lightcoral;
}
