.timer-display {
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.time {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timer-controls {
    font-size: 1.5rem;
}

.timer-controls a:not(:last-child) {
    margin-right: 20px;
}

.timer-controls a:hover {
    color: lightcoral;
}

.paused > .time {
    color: lightcoral;
}

.next-task-glyph {
    vertical-align: middle;
}

.vertical-aligned {
    vertical-align: middle;
}

.second-time {
    margin-bottom: 10px;
}

.current-task-description {
    font-size: 1.5rem;
}

.right-side {
    float: right;
}

.progress {
    font-size: 1.25rem;
    color: lightcoral;
}

.progress span {
    display: inline-block;
    margin-left: 30px;
}

.right-side:after {
    clear: both;
}

.task-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #bbb;;
}

.next-task span {
    margin-left: 10px;
}

@media (max-width: 800px) {
    .left-side {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .progress {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .progress > .percent {
        margin-left: 0;
    }

    .right-side {
        display: block;
        float: none;
        text-align: center;
    }
}
