.component {
  margin-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main-tasklist {
  width: 100%;
}

.title {
  display: inline-block;
  vertical-align: middle;
}

.info-container {
  position: relative;
  height: 3rem;
}

.info {
  top: 10%;
  position: absolute;
  border: 1px solid #d2d4e8;
  border-radius: 2rem;
  padding-left: 2rem;
}
