.component {
  margin-bottom: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.main-tasklist {
  width: 100%;
}

.title {
  padding-right: 20px;
}

.info-container {
  position: relative;
  box-sizing: border-box;
  height: 3rem;
  border: 1px solid #d2d4e8;
  border-radius: 2rem;
}

.info {
  box-sizing: border-box;
  top: 30%;
  width: 100%;
  position: absolute;
  padding-left: 2rem;
  padding-right: 1rem;
}

.action-list {
  float: right;
  display: inline-block;
}
