.main-title {
    font-weight: 400;
}

.main-tasklist {
    margin-bottom: 20px;
}

.task-list {
    margin-left: 40px;
    margin-bottom: 10px;
}

.task-list .component:first-child {
    border-top: 1px solid #bbb;
}

.task-list .component:last-child {
    border-bottom: 1px solid #bbb;
}

.add-button-container {
    margin-bottom: 10px;
}

.component {
    box-sizing: border-box;
}

.repeat-component:hover {
    border: 2px dashed lightcoral !important;
}

.info-container {
    display: inline-block;
    max-width: 80%;
    vertical-align: top;
}

.component .info-container:hover {
    background-color: lightcoral;
}

.title {
    padding-right: 20px;
}

.info {
    box-sizing: border-box;
    top: 18%;
    width: 100%;
    padding: 10px 1rem 10px 1rem;
    cursor: pointer;
}

.remove-task {
    position: absolute;
    right: 22px;
    top: 11px;
}

a {
    cursor: pointer;
}

.button {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    text-align: center;
    letter-spacing: .1rem;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
}

.centered {
    text-align: center;
}

.start-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.total-time {
    margin-top: 10px;
}

.modal-content {
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.1em;
}

.error-message {
    color: lightcoral;
    margin-top: 5px;
    margin-bottom: 10px;
}

.modal-content input, select {
    display: block;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 5px;
}

.modal-content input {
    border: none;
    border-bottom: 1px solid #bbb;
}

.modal-content input:focus {
    border-bottom: 1px solid lightcoral;
}

.modal-content select {
    width: 96%;
    border: 1px solid #bbb;
}

.modal-content select:focus {
    border: 1px solid lightcoral;
}

.modal-content input:focus, select:focus {
    outline: none;
}

.button:hover {
    color: lightcoral;
}

.gu-transit {
    border: 1px dotted lightcoral;
    opacity: 0.75;
}

.gu-mirror {
    display: none;
}

.sortable-handle-container {
    display: inline-block;
    width: 30px;
    text-align: center;
    touch-action: none;
    vertical-align: top;
    padding-top: 10px;
}

@media (max-width: 800px) {
    .container {
        width: 100%;
        font-size: 0.8rem;
    }

    .main-tasklist > .task-list {
        margin-left: 0;
    }

    .modal-content .button {
        width: 100%;
        margin-bottom: 10px;
    }
}
